.card {
    width:70%;
    height: 55%;
    margin-left: 10px;
    margin-top: 100px;
    padding: 0;
    /*border: 1px solid #858585;*/
    flex-direction: column;
    background-color: #ffffff;
    font-family: "Avenir Next Condensed";
    font-weight: 50;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #3A7734;

}

.title {
    font-family: "Avenir Next Condensed";
    font-size: 18px;
    margin-left: 15px;
    font-weight: 400;
    color: #6b6963;
}
.subtitle {
    font-family: "Avenir Next Condensed";
    font-size: 14px;
    margin-left: 15px;
    color: #6b6963;

}
.Email{
    font-size: 14px;
    margin-left: 15px;
}

button {
    border: none;
    font-family: "Avenir Next Condensed";
    color: #3A7734;
    margin-top: -15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    background:none;
    cursor: pointer;
}

