.about{
    padding-top: 50px;
    padding-right:700px;
    margin-top: 50px;
}

.aboutTitle{
    width: 50px;
    height: 30px;
    margin: 8px;
    padding: 5px;
    width: 150%;
    /*border-top: 1px solid #a7a4a4;*/
    /*border-bottom:1px solid #a7a4a4 ;*/
    /*align-items: center;*/
    display: inline-block;
    font-family: "Avenir Next Condensed";
    /*text-align: center;*/
    align-items: center;
    font-size: 17px;
    color: #222;
    font-weight: 310;
    line-height:19px;
    /*text-align: center;*/
}




.writeText{
    font-size: 20px;
    font-family:"Apple Braille";
}
.writeText::placeholder {
    font-family: "Apple Braille";
    color: black;
}
